<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Login2.css">
    <style>
    </style>
    <title>Document</title>
</head>
<body class="body">
    <img src="./images/로고.png" id="logo">
    <form action="http://121.147.52.212:3000/IdSelectorS" method="POST">
        <div>
            <p id="IdSelect"><%=name%> 님의 아이디는 <%=id%> 입니다. </p>
        </div>
    </form>
    <div>
        <a href="http://127.0.0.1:5502/window_nodejs/public/Login.html"><Button id="Logingo">로그인 이동</Button></a>
    </div>
</body>
</html>