<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/maincs2.css">
    <title>Document</title>
</head>
<body>
    <form action="http://121.147.52.212:3000/Main2" method="POST">
    <section class="Top" id="top">
        <img src="images/로고.png" id="logo" class="Top">
        <input type="search" id="top_search" class="Top">
        <input type="button" id="top_searchBtn" value="search" class="Top">
        <!-- <label for="top_searchData">-</label> -->
        <!-- 로그인 후 페이지 -->
        <section>
            <section id="top_searchData" class="Top">검색 기록</section>
            <section id="top_searchData" class="Top" style="color: #7E36B4; font-weight:bolder; margin-left: 0%; padding-right: 1%; width: auto; font-size: 2.2vh;">▽ </section>
        </section>

        <section class="Top" id="top_loginJoin">
            <p id="username"><%=name%> 님  </p><a id="logout" href="http://127.0.0.1:5502/window_nodejs/public/main.html" style="text-decoration:none">로그아웃</a>
            <!-- <input type="button" onclick="location.href='http://127.0.0.1:5501/project_Login_express/public/Join.html'" id="top_join" value="회원가입" class="Top" style="margin-right: 2%;">
            <input type="button" name="" id="top_login" value="  |  " class="Top">
            <input type="button" onclick="location.href='http://127.0.0.1:5501/project_Login_express/public/Login.html'" id="top_login" value="로그인" class="Top"> -->
        </section>
    
    </section>

    <section class="Main">
        <section class="Lef">
            <section id="lef_top">
                <button class="btn" id="btnl">추천 논문</button> <button class="btn" id="btnc">새로운 논문</button>
                <button class="btn" id="btnr">검색 목록</button>
            </section>

            <section id="lef_">
                <section style="margin-top: 6%;">
                    <ul id="lef_resultT">
                        <li style="margin-left: 0.1%;">카테고리</li>
                        <li>학회</li>
                        <li>등록일자</li>
                        <li>인용횟수</li>
                    </ul>
                </section>
                <br>
                <section id="name">
                <div>이름블라브랄ㄹ랄</div>
                </section>

                <section>
                    <ul id="lef_resultT">
                        <li style="margin-left: 0.1%;">카테고리</li>
                        <li>학회</li>
                        <li>등록일자</li>
                        <li>인용횟수</li>
                    </ul>
                </section>
                <br>
                <section id="name">
                <div>이름블라브랄ㄹ랄</div>
                </section>
            </section>
        </section>


        <section class="Mid">
            <section id="mid_top">

            </section>

            <section id="mid_">
                <!-- <li> -->
                    <section id="mid_title">
                        <div>논문이름쓰세요쓰세요쓰세요쓰세요쓰세요</div>
                    </section>
    
    
                    <section>
                        <ul id="mid_category">
                            <li style="margin-left: 0.1%;">카테고리</li>
                            <li>학회</li>
                            <li>등록일자</li>
                            <li>인용횟수</li>
                        </ul>
                    </section>
    
                    <section class="in">
                        <div id="mid_detail">초록</div>
                        <img src="../images/img_bar.png" alt="" id="mid_bar">

                        <p id="mid_green">
                            초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록
                            초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록초록
                        </p>
                    </section>
                    <br>
    
                    <section class="in">
                        <div id="mid_detail">키워드</div>

                        <!-- 이거 하이퍼링크 되는애로 고치면 좋은데 -->
                        <ul id="mid_category2">
                            <a href="">#키워드&nbsp;</a>
                            <a href="">#키워드&nbsp;</a>
                            <a href="">#키워드&nbsp;</a>
                            <a href="">#키워드&nbsp;</a>
                            <a href="">#키워드&nbsp;</a>
                        </ul>
                    </section>
                    <br>
                    <section class="in">
                        <div id="mid_detail">인용구조</div>
                        <img src="../images/img_bar.png" alt="" id="mid_bar">
                        <section>
                            여기에 인용구조 띄워줄꺼임
                        </section>
                    </section>
                <!-- </li> -->

            </section>
        </section>


        <section class="Rei">
            <img src="images/bookmark.png" onclick="" id="bookmark">
            <img src="images/link.png" onclick="" id="link">
            <section id="rei_memo">
                <section id="memo_title">메모보기</section>
                <section id="memo_text"><input type="text" id="memo_text_in"></section>
                <section id="memo_submit"><input type="submit" id="memo_submit_btn"></section>
            </section>

            <section id="folder1">
                <section>
                    <section id="folder_title">폴더 3 이름 쨔라란~</section>
                    <section id="folder_title" class="Top" style="font-weight:bolder; margin-left: 0%; padding-right: 5%; width: 5%; font-size: 2.2vh;">▽ </section>
                </section>

                <section id="folder_open" >
                    <section>
                        <ul id="f_result">
                            <li style="margin-left: 0.1%;">카테고리</li>
                            <li>학회</li>
                            <li>등록일자</li>
                            <li>인용횟수</li>
                            <li><img src="images/표.png" id="p"><img src="images/tree.png" id="tree"></li>
                        </ul>
                    </section>
                    <br>
                    <section id="f_name">                            
                        dfmds
                    </section>
                </section>
                <!-- ///// -->
                <section>
                    <section id="folder_title">폴더 3 이름 쨔라란~</section>
                    <section id="folder_title" class="Top" style="font-weight:bolder; margin-left: 0%; padding-right: 5%; width: 5%; font-size: 2.2vh;">▽ </section>
                </section>

                <section id="folder_open" >
                    <section>
                        <ul id="f_result">
                            <li style="margin-left: 0.1%;">카테고리</li>
                            <li>학회</li>
                            <li>등록일자</li>
                            <li>인용횟수</li>
                        </ul>
                    </section>
                    <br>
                    <section id="f_name">                            
                        dfmds
                    </section>
                </section>


        </section>
    </section>
</form>
</body>
</html>