#logo{
    position: relative;
    top: 30px;
    left : 770px;
    margin: 60px;
}
.JoinInfo{
    border: 3px #7E36B4 solid;
    margin: 18px;
    position: relative;
    left: 765px;
}
#join{
    position: relative;
    left: 850px;
    background-color: #7E36B4;
    color: white;
    font-size: 20px;
    margin: 15px;
}
#logo{
    width: 15%;
    height: 7%;
}
.JoinInfo{
    width: 18.5%;
    height: 4vmin;
}
#join{
    width: 11%;
    height: 5vmin;
}